.cg-wrap coords {
    position: absolute;
    display: flex;
    pointer-events: none;
    opacity: 0.8;
    font-size: 0.5rem;
  }
  
  .cg-wrap coords.ranks {
    left: -10px;
    top: 0;
    flex-flow: column-reverse;
    height: 100%;
    width: 12px;
  }
  
  .cg-wrap coords.ranks.black {
    flex-flow: column;
  }
  
  .cg-wrap coords.files {
    bottom: -16px;
    left: 0;
    flex-flow: row;
    width: 100%;
    height: 16px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .cg-wrap coords.files.black {
    flex-flow: row-reverse;
  }
  
  .cg-wrap coords coord {
    flex: 1 1 auto;
  }
  
  .cg-wrap coords.ranks coord {
    transform: translateY(39%);
  }