/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px; /* Добавить правую границу, чтобы меню занимало всю ширину экрана */
    background: transparent;
    padding: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--semidark-color);
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 20px;
    margin-right: 10px; /* Добавить немного расстояния между кнопками */
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 80ms ease-in;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-link img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.nav-link span {
    font-weight: bold;
}

.nav-link:active {
    transform: scale(0.95);
}

.nav-link:focus {
    outline: none;
}

.login-button {
    margin-left: auto; /* Сдвинуть кнопку "Войти" вправо */
}
